Repository STORM-IRIT/Radium-Engine, pull requests merged in 2018-10, with the labels that each got.

#367 Feature request: use cotire
  .travis.yml
  Applications/HelloRadium/CMakeLists.txt
  Applications/MainApplication/CMakeLists.txt
  Applications/SimpleSubdivideExample/CMakeLists.txt
  CMakeLists.txt
  cmake/CompileFlags.cmake
  cmake/cotire.cmake
  src/CMakeLists.txt
  src/IO/AssimpLoader/AssimpGeometryDataLoader.hpp
Labels: Build System, Feature Request, Review In Progress, [master-v1]

#366 Remove the duplicate table
  CMakeLists.txt
  Plugins/Animation/src/AnimationComponent.cpp
  Plugins/Animation/src/AnimationComponent.hpp
  Plugins/Animation/src/AnimationSystem.cpp
  Plugins/FancyMesh/src/FancyMeshComponent.cpp
  Plugins/FancyMesh/src/FancyMeshComponent.hpp
  Plugins/Skinning/src/SkinningComponent.cpp
  Plugins/Skinning/src/SkinningComponent.hpp
  cmake/CompileFlags.cmake
  src/Core/Animation/Skinning/RotationCenterSkinning.cpp
  src/Core/File/GeometryData.cpp
  src/Core/File/GeometryData.hpp
  src/Core/File/GeometryData.inl
  src/Core/Geometry/Normal/Normal.cpp
  src/Core/Geometry/Normal/Normal.hpp
  src/Core/Mesh/MeshUtils.cpp
  src/Core/Mesh/MeshUtils.hpp
  src/Engine/Renderer/Material/BlinnPhongMaterial.cpp
  src/GuiBase/BaseApplication.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.hpp
Labels: Review In Progress

#376 Bugfix lightmanager
  src/Engine/Managers/LightManager/DefaultLightManager.cpp
  src/Engine/Managers/LightManager/LightManager.cpp
  src/Engine/Managers/LightManager/LightManager.hpp
Labels: Engine, High priority, [master-v1], bug

#375 add a flag to use cotire (enable by default).
  Applications/HelloRadium/CMakeLists.txt
  Applications/MainApplication/CMakeLists.txt
  Applications/SimpleSubdivideExample/CMakeLists.txt
  CMakeLists.txt
  cmake/RadiumFunctions.cmake
  src/CMakeLists.txt
Labels: Build System, [master-v1]

#377 Update Light asset : add management of area light sources
  src/Core/File/AssetData.hpp
  src/Core/File/CameraData.hpp
  src/Core/File/CameraData.inl
  src/Core/File/LightData.cpp
  src/Core/File/LightData.hpp
  src/Core/File/LightData.inl
  src/Engine/Managers/LightManager/LightManager.cpp
  src/IO/AssimpLoader/AssimpLightDataLoader.cpp
Labels: High priority, Review In Progress, [master-v1], documentation, enhancement

#379 Fix dirty bits in Mesh ;
  src/Engine/Renderer/Camera/Camera.cpp
  src/Engine/Renderer/Mesh/Mesh.cpp
  src/Engine/Renderer/Mesh/Mesh.hpp
  src/Engine/Renderer/Mesh/Mesh.inl
Labels: Engine, [master-v1], bug

#382 Add gamma correction
  Shaders/HdrToLdr/Hdr2Ldr.frag.glsl
  Shaders/HdrToLdr/Hdr2Ldr.vert.glsl
  Shaders/Materials/BlinnPhong/BlinnPhongMaterial.glsl
  src/Engine/Renderer/RenderTechnique/ShaderProgramManager.cpp
  src/Engine/Renderer/Renderers/ForwardRenderer.cpp
  src/Engine/Renderer/Texture/Texture.cpp
  src/Engine/Renderer/Texture/TextureManager.cpp
  src/GuiBase/Viewer/CameraInterface.cpp
  src/GuiBase/Viewer/Viewer.cpp
  src/GuiBase/Viewer/Viewer.hpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.cpp
Labels: Engine, enhancement

#387 Add support for official plugins in CI
  .ci/compile-official-plugins.sh
  .travis.yml
Labels: [master-v1], enhancement

#383 Featurerequest ctest
  .travis.yml
  CMakeLists.txt
  Docs/develWithRadium.md
  cmake/ConfigureTesting.cmake
  src/CMakeLists.txt
  src/IO/AssimpLoader/CMakeLists.txt
  src/IO/CameraLoader/CMakeLists.txt
  src/IO/TinyPlyLoader/CMakeLists.txt
  src/Tests/CMakeLists.txt
  src/Tests/CoreTests/CMakeLists.txt
  src/Tests/CoreTests/src/AlgebraTests.hpp
  src/Tests/CoreTests/src/AnimationTest.hpp
  src/Tests/CoreTests/src/ContainersTest.hpp
  src/Tests/CoreTests/src/DistanceTests.hpp
  src/Tests/CoreTests/src/GeometryTests.hpp
  src/Tests/CoreTests/src/IndexMapTest.hpp
  src/Tests/CoreTests/src/Mesh.hpp
  src/Tests/CoreTests/src/RayCastTest.hpp
  src/Tests/CoreTests/src/StringTest.hpp
  src/Tests/CoreTests/src/TopologicalMesh.hpp
  src/Tests/CoreTests/src/main.cpp
  src/Tests/Manager.cpp
  src/Tests/Manager.hpp
  src/Tests/Tests.hpp
  tests/CMakeLists.txt
  tests/CoreTests/CMakeLists.txt
  tests/CoreTests/src/algebra.cpp
  tests/CoreTests/src/animation.cpp
  tests/CoreTests/src/containers.cpp
  tests/CoreTests/src/distance.cpp
  tests/CoreTests/src/geometry.cpp
  tests/CoreTests/src/indexmap.cpp
  tests/CoreTests/src/mesh.cpp
  tests/CoreTests/src/polyline.cpp
  tests/CoreTests/src/raycast.cpp
  tests/CoreTests/src/string.cpp
  tests/CoreTests/src/topomesh.cpp
  tests/Tests.hpp
Labels: Build System, Feature Request, [master-v1], enhancement, tests

#388 Fix skeleton transforms update when translating bone ;
  Plugins/Animation/src/AnimationComponent.cpp
Labels: High priority, Plug : Animation, Review In Progress, bug

#389 Improve texture generation
  Shaders/Materials/BlinnPhong/BlinnPhongMaterial.glsl
  src/Engine/Renderer/Texture/Texture.cpp
  src/Engine/Renderer/Texture/Texture.hpp
Labels: Engine, Review In Progress, [master-v1], enhancement

#395 Hotfix #393
  Shaders/Materials/BlinnPhong/BlinnPhongMaterial.glsl
Labels: High priority, Review In Progress, [master-v1], bug
