Repository STORM-IRIT/Radium-Engine, pull requests merged in 2019-09, with the labels that each got.

#445 Aabb
  Applications/MainApplication/Gui/MainWindow.cpp
  Plugins/MeshFeatureTracking/src/MeshFeatureTrackingComponent.cpp
  Plugins/MeshFeatureTracking/src/MeshFeatureTrackingPlugin.cpp
  Plugins/MeshFeatureTracking/src/MeshFeatureTrackingPlugin.hpp
  src/Engine/Component/Component.cpp
  src/Engine/Component/Component.hpp
  src/Engine/Entity/Entity.cpp
  src/Engine/Entity/Entity.hpp
  src/Engine/RadiumEngine.cpp
  src/Engine/RadiumEngine.hpp
  src/Engine/Renderer/RenderObject/RenderObject.cpp
  src/Engine/Renderer/RenderObject/RenderObject.hpp
  src/Engine/Renderer/RenderObject/RenderObjectManager.cpp
  src/Engine/Renderer/RenderObject/RenderObjectManager.hpp
Labels: Engine

#465 Camera management
  Applications/HelloRadium/minimalapp.cpp
  Applications/MainApplication/Gui/MainWindow.cpp
  Applications/MainApplication/Gui/MainWindow.hpp
  Applications/MainApplication/Gui/ui/MainWindow.ui
  Applications/MainApplication/main.cpp
  Configs/default.xml
  Configs/macos.xml
  Docs/cameraManipulator.md
  Plugins/CameraManip/src/CameraManipPlugin.cpp
  src/Engine/Renderer/Camera/Camera.cpp
  src/Engine/Renderer/Camera/Camera.hpp
  src/GuiBase/BaseApplication.cpp
  src/GuiBase/Utils/KeyMappingManager.cpp
  src/GuiBase/Utils/KeyMappingManager.hpp
  src/GuiBase/Viewer/CameraManipulator.cpp
  src/GuiBase/Viewer/CameraManipulator.hpp
  src/GuiBase/Viewer/FlightCameraManipulator.cpp
  src/GuiBase/Viewer/FlightCameraManipulator.hpp
  src/GuiBase/Viewer/Gizmo/GizmoManager.cpp
  src/GuiBase/Viewer/TrackballCameraManipulator.cpp
  src/GuiBase/Viewer/TrackballCameraManipulator.hpp
  src/GuiBase/Viewer/Viewer.cpp
  src/GuiBase/Viewer/Viewer.hpp
Labels: Engine, Feature Request, MainApp, enhancement

#472 Use unique_ptr in AttribManager.
  src/Core/Geometry/TopologicalMesh.cpp
  src/Core/Utils/Attribs.cpp
  src/Core/Utils/Attribs.hpp
Labels: High priority, bug
