Repository STORM-IRIT/Radium-Engine, pull requests merged in 2020-10, with the labels that each got.

#606 Add separable BSDF interface to materials.
  Shaders/Materials/BlinnPhong/BlinnPhong.glsl
  Shaders/Materials/BlinnPhong/BlinnPhongZPrepass.frag.glsl
  Shaders/Materials/Lambertian/Lambertian.glsl
  Shaders/Materials/Plain/Plain.glsl
  doc/developer/material.md
Labels: Engine, documentation, enhancement

#607 Allow component registration into a system from outside the system.
  src/Engine/System/System.hpp
Labels: Engine, Feature Request, enhancement

#608 Add a simple window and its factory to the GuiBase to ease writing client applications
  Shaders/Materials/BlinnPhong/BlinnPhong.glsl
  cmake/externalFunc.cmake
  cmake/filelistGuiBase.cmake
  cmake/radium_setup_functions.cmake
  src/Engine/Component/GeometryComponent.hpp
  src/GuiBase/RadiumWindow/SimpleWindow.cpp
  src/GuiBase/RadiumWindow/SimpleWindow.hpp
  src/GuiBase/RadiumWindow/SimpleWindowFactory.hpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/CoreExampleApp/main.cpp
  tests/ExampleApps/HelloRadium/main.cpp
  tests/ExampleApps/HelloRadium/minimalapp.cpp
  tests/ExampleApps/HelloRadium/minimalapp.hpp
  tests/ExampleApps/HelloRadium/minimalradium.cpp
  tests/ExampleApps/HelloRadium/minimalradium.hpp
  tests/ExampleApps/SimpleAnimationApp/main.cpp
  tests/ExampleApps/SimpleAnimationApp/minimalapp.cpp
  tests/ExampleApps/SimpleAnimationApp/minimalapp.hpp
  tests/ExampleApps/SimpleAnimationApp/minimalradium.cpp
  tests/ExampleApps/SimpleAnimationApp/minimalradium.hpp
  tests/ExampleApps/SimpleSimulationApp/main.cpp
Labels: GUI, enhancement, tests

#610 [GLSL] Fix implicit cast
  Shaders/Materials/Lambertian/Lambertian.glsl
  Shaders/Materials/Plain/Plain.glsl
Labels: Engine, High priority, bug
