Repository STORM-IRIT/Radium-Engine, pull requests merged in 2021-05, with the labels that each got.

#735 Merge Skeleton-Based Animation Plugin into Radium-Engine
  cmake/filelistEngine.cmake
  cmake/filelistGui.cmake
  doc/developer.md
  doc/developer/animation.md
  src/Core/Animation/DualQuaternionSkinning.cpp
  src/Core/Animation/DualQuaternionSkinning.hpp
  src/Core/Animation/KeyFramedValue.hpp
  src/Core/Animation/LinearBlendSkinning.cpp
  src/Core/Animation/LinearBlendSkinning.hpp
  src/Core/Animation/RotationCenterSkinning.cpp
  src/Core/Animation/RotationCenterSkinning.hpp
  src/Core/Animation/Skeleton.cpp
  src/Core/Animation/Skeleton.hpp
  src/Core/Animation/SkinningData.hpp
  src/Core/Animation/StretchableTwistableBoneSkinning.cpp
  src/Core/Animation/StretchableTwistableBoneSkinning.hpp
  src/Core/Asset/AnimationData.cpp
  src/Core/Asset/HandleData.cpp
  src/Core/Asset/HandleData.hpp
  src/Core/Containers/AdjacencyList.hpp
  src/Core/Geometry/TopologicalMesh.cpp
  src/Engine/CMakeLists.txt
  src/Engine/Data/Texture.cpp
  src/Engine/Data/Texture.hpp
  src/Engine/Data/TextureManager.cpp
  src/Engine/Data/TextureManager.hpp
  src/Engine/Resources/Textures/heatmap.png
  src/Engine/Scene/SkeletonBasedAnimationSystem.cpp
  src/Engine/Scene/SkeletonBasedAnimationSystem.hpp
  src/Engine/Scene/SkeletonComponent.cpp
  src/Engine/Scene/SkeletonComponent.hpp
  src/Engine/Scene/SkinningComponent.cpp
  src/Engine/Scene/SkinningComponent.hpp
  src/Gui/BaseApplication.cpp
  src/Gui/BaseApplication.hpp
  src/Gui/SkeletonBasedAnimation/Icons/CoR.png
  src/Gui/SkeletonBasedAnimation/Icons/CoR_on.png
  src/Gui/SkeletonBasedAnimation/Icons/DQ.png
  src/Gui/SkeletonBasedAnimation/Icons/DQ_on.png
  src/Gui/SkeletonBasedAnimation/Icons/LB.png
  src/Gui/SkeletonBasedAnimation/Icons/LB_on.png
  src/Gui/SkeletonBasedAnimation/Icons/STBSDQ.png
  src/Gui/SkeletonBasedAnimation/Icons/STBSDQ_on.png
  src/Gui/SkeletonBasedAnimation/Icons/STBSLB.png
  src/Gui/SkeletonBasedAnimation/Icons/STBSLB_on.png
  src/Gui/SkeletonBasedAnimation/Icons/xray.png
  src/Gui/SkeletonBasedAnimation/SkeletonBasedAnimation.qrc
  src/Gui/SkeletonBasedAnimation/SkeletonBasedAnimationUI.cpp
  src/Gui/SkeletonBasedAnimation/SkeletonBasedAnimationUI.hpp
  src/Gui/SkeletonBasedAnimation/SkeletonBasedAnimationUI.ui
  src/IO/AssimpLoader/AssimpAnimationDataLoader.cpp
  tests/ExampleApps/DrawPrimitivesApp/minimalradium.cpp
  tests/ExampleApps/SimpleAnimationApp/main.cpp
  tests/unittest/Core/animation.cpp
  tests/unittest/Core/topomesh.cpp
Labels: Engine, Feature Request, documentation, enhancement

#752 Export io properties
  cmake/Config.cmake.in
  doc/basics/radium-as-submodule.md
  doc/developer/cmakeutilities.md
Labels: Build System, IO, bug

#756 Fix keyframedvalue
  src/Core/Animation/KeyFramedValue.hpp
Labels: Core, bug

#758 Improve picking usage
  CMakeLists.txt
  cmake/filelistEngine.cmake
  src/Engine/Rendering/Renderer.cpp
  src/Engine/Rendering/Renderer.hpp
  src/Engine/Rendering/Renderer.inl
  src/Gui/Utils/PickingManager.cpp
  src/Gui/Viewer/Viewer.cpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/PickingDemoApp/CMakeLists.txt
  tests/ExampleApps/PickingDemoApp/main.cpp
Labels: Engine, enhancement

#760 Observable tests
  src/Core/Utils/Observable.hpp
  tests/unittest/Core/observer.cpp
Labels: Core, bug

#762 [core] Add missing const in Dual Quaternion skinning.
  src/Core/Animation/DualQuaternionSkinning.cpp
  src/Core/Animation/DualQuaternionSkinning.hpp
Labels: Core, bug

#766 Scalar double
  .github/workflows/coverage.yml
  .github/workflows/pull-request-ci.yml
  .github/workflows/push-master-ci.yml
  CMakeLists.txt
  README.md
  doc/basics/compilation.md
  doc/main.md
  external/Engine/CMakeLists.txt
  external/IO/CMakeLists.txt
  external/IO/patches/assimp.patch
  src/Core/Asset/GeometryData.hpp
  src/Core/Containers/VectorArray.hpp
  src/Core/Geometry/CatmullClarkSubdivider.hpp
  src/Core/Geometry/TopologicalMesh.cpp
  src/Core/Geometry/TopologicalMesh.hpp
  src/Core/Geometry/TopologicalMesh.inl
  src/Core/Geometry/TriangleMesh.cpp
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Geometry/deprecated/TopologicalMesh.cpp
  src/Core/Geometry/deprecated/TopologicalMesh.hpp
  src/Core/Geometry/deprecated/TopologicalMesh.inl
  src/Core/Math/DualQuaternion.inl
  src/Core/Utils/Attribs.cpp
  src/Core/Utils/Attribs.hpp
  src/Core/Utils/Attribs.inl
  src/Engine/Data/Mesh.inl
  src/Engine/Data/RenderParameters.cpp
  src/Engine/Data/RenderParameters.hpp
  src/Engine/Data/ShaderProgram.cpp
  src/Engine/Data/ShaderProgram.inl
  src/Engine/Data/Texture.hpp
  src/Engine/Data/VolumeObject.cpp
  src/Engine/OpenGL.hpp
  src/Engine/Rendering/DebugRender.cpp
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Engine/Rendering/Renderer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/IO/AssimpLoader/AssimpLightDataLoader.cpp
  tests/unittest/Core/mesh.cpp
  tests/unittest/Core/topomesh.cpp
Labels: Build System, Core, Engine, GUI, IO, Ready to merge, bug, refactor, regression, tests

#769 Fix forward declaration of Entity, Component, and Camera.
  src/Engine/Scene/CameraManager.cpp
  src/Engine/Scene/CameraManager.hpp
  src/Engine/Scene/CameraStorage.hpp
  src/Gui/SelectionManager/SelectionManager.hpp
Labels: Core, Engine, bug

#772 [io] Fix assimp loading point homogeneous coordinates.
  src/IO/AssimpLoader/AssimpLightDataLoader.cpp
Labels: High priority, bug

#759 Camera clean manip
  cmake/filelistEngine.cmake
  src/Core/Asset/Camera.cpp
  src/Core/Asset/Camera.hpp
  src/Core/Asset/Camera.inl
  src/Engine/Rendering/RenderObject.cpp
  src/Engine/Rendering/RenderObject.hpp
  src/Engine/Scene/CameraComponent.cpp
  src/Engine/Scene/CameraComponent.hpp
  src/Engine/Scene/CameraComponent.inl
  src/Gui/Configs/default.xml
  src/Gui/Configs/macos.xml
  src/Gui/TreeModel/EntityTreeModel.cpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Viewer/CameraManipulator.cpp
  src/Gui/Viewer/CameraManipulator.hpp
  src/Gui/Viewer/FlightCameraManipulator.cpp
  src/Gui/Viewer/FlightCameraManipulator.hpp
  src/Gui/Viewer/Gizmo/RotateGizmo.cpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/IO/AssimpLoader/AssimpCameraDataLoader.cpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/CustomCameraManipulator/main.cpp
  tests/unittest/Core/camera.cpp
Labels: Core, Engine, GUI, Ready to merge, bug
