Repository STORM-IRIT/Radium-Engine, pull requests merged in 2021-07, with the labels that each got.

#775 Gui about dialog
  cmake/filelistCore.cmake
  cmake/filelistEngine.cmake
  cmake/filelistGui.cmake
  cmake/filelistIO.cmake
  scripts/generateFilelistForModule.sh
  src/Gui/AboutDialog/AboutDialog.cpp
  src/Gui/AboutDialog/AboutDialog.hpp
  src/Gui/AboutDialog/AboutDialog.ui
  src/Gui/BaseApplication.cpp
  src/Gui/BaseApplication.hpp
  src/Gui/Configs/alternative.xml
  src/Gui/Configs/default.xml
  src/Gui/Configs/macos.xml
  src/Gui/MainWindowInterface.hpp
  src/Gui/QtResources/Icons/RadiumIcon.png
  src/Gui/QtResources/RadiumQtResources.qrc
  src/Gui/QtResources/about.html
  src/Gui/QtResources/radium_engine.css
  src/Gui/RadiumWindow/SimpleWindow.cpp
  src/Gui/RadiumWindow/SimpleWindow.hpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Utils/KeyMappingManager.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
Labels: GUI, enhancement

#765 Camera manipulator
  cmake/filelistGui.cmake
  src/Core/Asset/Camera.hpp
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Engine/Rendering/Renderer.cpp
  src/Engine/Rendering/Renderer.hpp
  src/Engine/Rendering/Renderer.inl
  src/Gui/Configs/alternative.xml
  src/Gui/Configs/default.xml
  src/Gui/Configs/macos.xml
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Viewer/RotateAroundCameraManipulator.cpp
  src/Gui/Viewer/RotateAroundCameraManipulator.hpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/IO/AssimpLoader/AssimpCameraDataLoader.cpp
  src/IO/AssimpLoader/AssimpCameraDataLoader.hpp
  tests/ExampleApps/DrawPrimitivesApp/main.cpp
  tests/unittest/Gui/keymapping.cpp
Labels: GUI, Review In Progress, enhancement

#796 Fix 795
  src/Engine/OpenGL.hpp
  src/Engine/Rendering/Renderer.cpp
Labels: Engine, High priority, bug, regression

#794 Check compiler version in external/cmake
  external/CMakeLists.txt
Labels: Build System, Ready to merge, bug

#776 [test] Add Custom KeyEvent demo
  src/Gui/BaseApplication.cpp
  src/Gui/MainWindowInterface.hpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Utils/KeyMappingManager.hpp
  src/Gui/Viewer/CameraManipulator.cpp
  src/Gui/Viewer/CameraManipulator.hpp
  src/Gui/Viewer/FlightCameraManipulator.cpp
  src/Gui/Viewer/FlightCameraManipulator.hpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/KeyEventDemoApp/CMakeLists.txt
  tests/ExampleApps/KeyEventDemoApp/main.cpp
  tests/unittest/Gui/keymapping.cpp
Labels: demos

#798 Fix gizmo hover
  src/Gui/Viewer/RotateAroundCameraManipulator.cpp
  src/Gui/Viewer/RotateAroundCameraManipulator.hpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.hpp
  src/Gui/Viewer/Viewer.cpp
  tests/ExampleApps/CustomCameraManipulator/main.cpp
  tests/ExampleApps/DrawPrimitivesApp/main.cpp
Labels: GUI, Ready to merge, bug

#799 [github] add doi to readme.
  README.md
Labels: documentation

#803 [io] Remove deprecated attribute color in GeometryData
  src/Core/Asset/GeometryData.cpp
  src/Core/Asset/GeometryData.hpp
  src/Core/Asset/GeometryData.inl
  src/Engine/Data/Mesh.hpp
  src/Engine/Scene/GeometryComponent.cpp
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
Labels: IO

#809 Fix compilation for ARM platforms (Apple M1 and Nvidia Jetson Xavier)
  src/Core/Containers/AlignedAllocator.hpp
  src/Core/CoreMacros.hpp
Labels: Core, Ready to review, enhancement

#811 Camera frame issues solved
  src/Engine/RadiumEngine.cpp
  src/Engine/Scene/CameraManager.cpp
  src/Engine/Scene/CameraManager.hpp
  src/Engine/Scene/Entity.cpp
  src/Engine/Scene/Entity.hpp
  src/Engine/Scene/Entity.inl
  src/Gui/Viewer/Viewer.cpp
  src/IO/AssimpLoader/AssimpCameraDataLoader.cpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/EntityAnimationDemo/CMakeLists.txt
  tests/ExampleApps/EntityAnimationDemo/main.cpp
Labels: Engine, Feature Request, IO, Ready to merge, bug, demos, enhancement
