Repository STORM-IRIT/Radium-Engine, pull requests merged in 2021-04, with the labels that each got.

#721 Io add custom vertexattribs
  src/Core/Asset/GeometryData.hpp
  src/Core/Asset/GeometryData.inl
  src/Engine/Data/Mesh.hpp
  src/Engine/Scene/GeometryComponent.cpp
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
  tests/integration/TinyPlyFileLoader/main.cpp
  tests/integration/data/inputs/custom_attr.ply
  tests/integration/data/references/TinyPlyFileLoader.txt
Labels: Core, IO, enhancement

#727 [github] update gcc according to last ubuntu image
  .github/workflows/pull-request-ci.yml
  doc/basics/compilation.md
Labels: Build System

#728 [io] remove unneeded template
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
Labels: IO

#731 GizmoManager predefine the struct ItemEntry in the wrong namespace
  src/Gui/Viewer/Gizmo/GizmoManager.hpp
Labels: GUI, High priority, bug, regression

#732 Test and small fixes
  src/Core/Containers/BVH.hpp
  src/Core/Geometry/Curve2D.inl
  src/Core/Geometry/RayCast.cpp
  src/Core/Geometry/TopologicalMesh.hpp
  src/Core/Geometry/deprecated/TopologicalMesh.cpp
  src/Engine/Scene/CouplingSystem.hpp
  tests/integration/CMakeLists.txt
  tests/integration/includes.cpp.in
  tests/unittest/Core/topomesh.cpp
Labels: Core, Engine, Ready to merge, bug, regression, tests

#734 [Gui] do not fail when command line parsing fails
  src/Gui/BaseApplication.cpp
Labels: GUI, Ready to merge, enhancement

#739 Fix issue #738 (regression)
  src/Engine/RadiumEngine.cpp
Labels: Engine, High priority, regression

#737 Students l3 2021
  cmake/cleanCppExtensions.cmake
  cmake/externalFunc.cmake
  cmake/sanitizers.cmake
  doc/CMakeLists.txt
  src/Core/CMakeLists.txt
  src/Engine/CMakeLists.txt
  src/Engine/RadiumEngine.cpp
  src/Engine/RadiumEngine.hpp
  src/Gui/BaseApplication.cpp
  src/Gui/CMakeLists.txt
  src/Gui/Timeline/TimelineFrameSelector.cpp
  src/Gui/Timeline/TimelineScrollArea.cpp
  src/IO/CMakeLists.txt
  src/PluginBase/CMakeLists.txt
  tests/CMakeLists.txt
Labels: Build System, regression

#743 Doc tests
  doc/basics/compilation.md
  doc/developer/develWithRadium.md
  src/Gui/Timeline/Timeline.hpp
  src/Gui/Timeline/TimelineSlider.hpp
  src/Gui/Utils/KeyMappingManager.hpp
  tests/unittest/Core/obb.cpp
Labels: documentation
