Repository STORM-IRIT/Radium-Engine, pull requests merged in 2021-06, with the labels that each got.

#774 [github] also run full configs on release-candidate
  .github/workflows/push-master-ci.yml
Labels: Low priority, github

#777 Update ci release candidate
  .github/workflows/coverage.yml
  .github/workflows/guideline-checks.yml
  .github/workflows/pull-request-ci.yml
  .github/workflows/pull-request.yml
  scripts/is-history-pr-compatible.sh
Labels: github

#710 Multi-index view
  cmake/filelistCore.cmake
  doc/developer/conventions.md
  src/Core/Geometry/IndexedGeometry.cpp
  src/Core/Geometry/IndexedGeometry.hpp
  src/Core/Geometry/IndexedGeometry.inl
  src/Core/Geometry/TopologicalMesh.cpp
  src/Core/Geometry/TopologicalMesh.hpp
  src/Core/Geometry/TopologicalMesh.inl
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Geometry/TriangleMesh.inl
  src/Core/Utils/ObjectWithSemantic.hpp
  src/Core/Utils/StdMapIterators.hpp
  src/Engine/Data/Mesh.hpp
  src/Engine/Data/Mesh.inl
  src/Engine/Scene/SkinningComponent.cpp
  tests/unittest/CMakeLists.txt
  tests/unittest/Core/indexview.cpp
  tests/unittest/Core/mapiterators.cpp
  tests/unittest/Core/topomesh.cpp
Labels: Core, Low priority, Ready to merge, enhancement

#761 ctest targets from catch2 and fastcov
  .github/workflows/coverage.yml
  CMakeLists.txt
  cmake/CodeCoverage.cmake
  cmake/coverageFunc.cmake
  cmake/radium_setup_functions.cmake
  doc/developer/buildchain.md
  doc/developer/develWithRadium.md
  tests/integration/CMakeLists.txt
  tests/unittest/CMakeLists.txt
Labels: Build System, Low priority, Ready to merge, tests

#785 [gui] Mark event VIEWER_TOGGLE_WIREFRAME caught to generate redraw event
  src/Gui/Viewer/Viewer.cpp
Labels: GUI, bug

#786 [core] detach observers on MultiIndexedGeometry before deletion.
  src/Core/Geometry/IndexedGeometry.inl
Labels: Core, bug

#789 Wireframe on transparent
  src/Engine/Rendering/ForwardRenderer.cpp
Labels: Engine, enhancement

#790 OpenGL initialization of Viewer
  .clang-format
  src/Engine/Data/Texture.hpp
  src/Engine/Rendering/Renderer.cpp
  src/Engine/Rendering/Renderer.hpp
  src/Gui/Viewer/FlightCameraManipulator.cpp
  src/Gui/Viewer/Gizmo/GizmoManager.cpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/Gui/Viewer/WindowQt.cpp
  src/Gui/Viewer/WindowQt.hpp
Labels: GUI, bug-suspected
