Repository STORM-IRIT/Radium-Engine, pull requests merged in 2021-03, with the labels that each got.

#698 Wiki doc
  doc/CMakeLists.txt
  doc/concepts.md
  doc/concepts/componentMessenger.md
  doc/concepts/eventSystem.md
  doc/concepts/forwardrenderer.md
  doc/concepts/pluginSystem.md
  doc/developer.md
  doc/developer/animation.md
  doc/developer/cameraManipulator.md
  doc/developer/cmakeutilities.md
  doc/developer/conventions.md
  doc/developer/develWithRadium.md
  doc/developer/featurepicking.md
  doc/developer/keymapping.md
  doc/developer/lightmanagement.md
  doc/developer/material.md
  doc/developer/mesh.md
  doc/developer/oldmanual.md
  doc/developer/plugin.md
  doc/developer/rendering.md
  doc/developer/timeline.md
  src/Core/Animation/BulgeCorrection.hpp
  src/Core/Animation/KeyFramedValue.hpp
  src/Core/Containers/BVH.hpp
  src/Core/Utils/Attribs.hpp
  src/Engine/Data/LambertianMaterial.hpp
  src/Engine/Data/Material.hpp
  src/Engine/Data/Mesh.hpp
  src/Engine/RadiumEngine.hpp
  src/Gui/Timeline/TimelineScrollArea.hpp
  src/Gui/TreeModel/TreeModel.hpp
  src/Gui/Viewer/Gizmo/Gizmo.hpp
Labels: documentation

#702 [core][gui] remove not so deprecated deprecated tags
  src/Engine/RadiumEngine.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/IO/deprecated/FileManager.hpp
  src/IO/deprecated/OBJFileManager.hpp
  src/IO/deprecated/OFFFileManager.hpp
Labels: Ready to merge, code style

#699 Keymapping unit tests
  .github/workflows/pull-request-ci.yml
  cmake/filelistCore.cmake
  src/Core/Resources/Resources.cpp
  src/Core/Utils/StdFilesystem.hpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Utils/KeyMappingManager.hpp
  tests/integration/CMakeLists.txt
  tests/integration/KeyMappingManager/main.cpp
  tests/integration/data/inputs/keymapping-valid.xml
  tests/integration/data/references/keymapping-valid.xml
  tests/unittest/CMakeLists.txt
  tests/unittest/Gui/keymapping.cpp
  tests/unittest/data/dummy1.xml
  tests/unittest/data/dummy2.xml
  tests/unittest/data/keymapping-bad-main.xml
  tests/unittest/data/keymapping-bad-tag.xml
  tests/unittest/data/keymapping-double-actions.xml
  tests/unittest/data/keymapping-invalid.xml
  tests/unittest/data/keymapping-valid.xml
Labels: GUI, tests

#706 Small fixes
  cmake/radium_setup_functions.cmake
  src/Engine/Rendering/ForwardRenderer.cpp
Labels: Build System, Engine, bug

#708 Fix topo complex
  doc/developer/mesh.md
  doc/images/wedge-degen.svg
  src/Core/Geometry/TopologicalMesh.inl
  tests/unittest/Core/topomesh.cpp
Labels: Core, bug, tests

#711 [tests] Store QSettings org and app name globally.
  tests/unittest/Gui/keymapping.cpp
Labels: bug, tests

#713 Removed some superfluous (and very restricting) code.
  src/Engine/Rendering/Renderer.cpp
Labels: Engine, High priority, Ready to merge, enhancement

#714 [doc] Add complexity command
  doc/CMakeLists.txt
  src/Core/Geometry/Volume.hpp
  src/Core/Utils/Attribs.hpp
Labels: Ready to merge, documentation, enhancement

#707 Wireframe
  Shaders/Lines/Wireframe.frag.glsl
  Shaders/Lines/Wireframe.geom.glsl
  Shaders/Lines/Wireframe.vert.glsl
  cmake/filelistEngine.cmake
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Geometry/TriangleMesh.inl
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Engine/Rendering/ForwardRenderer.hpp
  src/Engine/Scene/GeometryComponent.hpp
Labels: Engine, enhancement

#717 Make scene display setting more clear and usable - update drawPrimitive Demo
  src/Gui/BaseApplication.cpp
  src/Gui/MainWindowInterface.hpp
  src/Gui/RadiumWindow/SimpleWindow.cpp
  src/Gui/RadiumWindow/SimpleWindow.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  tests/ExampleApps/CustomCameraManipulator/main.cpp
  tests/ExampleApps/DrawPrimitivesApp/main.cpp
  tests/ExampleApps/DrawPrimitivesApp/minimalradium.cpp
  tests/ExampleApps/HelloRadium/main.cpp
  tests/ExampleApps/RawShaderMaterial/main.cpp
  tests/ExampleApps/SimpleAnimationApp/main.cpp
  tests/ExampleApps/SimpleSimulationApp/main.cpp
Labels: GUI, Ready to merge, demos

#718 Minor fixes
  src/Core/Geometry/MeshPrimitives.cpp
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Utils/Attribs.hpp
  src/Engine/Data/Mesh.inl
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Gui/BaseApplication.cpp
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
  tests/unittest/Core/topomesh.cpp
Labels: Core, Engine, Ready to merge, enhancement

#722 [apps] Fix minimal radium when not using assimp
  tests/ExampleApps/DrawPrimitivesApp/minimalradium.cpp
Labels: High priority, bug, tests

#723 Fix use of Radium-Engine as subdirectory
  CMakeLists.txt
  src/Core/CMakeLists.txt
  src/Engine/CMakeLists.txt
  src/IO/CMakeLists.txt
Labels: Build System, Core, Engine, IO, bug

#726 Fix issue 725
  src/Engine/Rendering/ForwardRenderer.cpp
Labels: High priority
