Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-12, with the labels that each got.

#1021 Simple skinning
  examples/CMakeLists.txt
  examples/SimpleSkinning/CMakeLists.txt
  examples/SimpleSkinning/main.cpp
  src/Core/Geometry/MeshPrimitives.cpp
  src/Core/Geometry/MeshPrimitives.hpp
  src/Core/Math/LinearAlgebra.hpp
  src/Core/Math/LinearAlgebra.inl
  src/Core/Math/Math.hpp
  src/Engine/Scene/SkeletonComponent.cpp
  src/Engine/Scene/SkeletonComponent.hpp
  src/Engine/Scene/SkinningComponent.hpp
  tests/unittest/Core/algebra.cpp
Labels: bug, Core, Engine, examples

#1029 Allow headless rendering without X-server on Linux through EGL
  .github/workflows/build-matrix.yml
  examples/HeadlessExample/CMakeLists.txt
  examples/HeadlessExample/main.cpp
  src/Headless/CLIBaseApplication.hpp
  src/Headless/CLIBaseApplication.inl
  src/Headless/CLIViewer.cpp
  src/Headless/CLIViewer.hpp
  src/Headless/CLIViewer.inl
  src/Headless/CMakeLists.txt
  src/Headless/Config.cmake.in
  src/Headless/OpenGLContext/EglOpenGLContext.cpp
  src/Headless/OpenGLContext/EglOpenGLContext.hpp
  src/Headless/OpenGLContext/GlfwOpenGLContext.cpp
  src/Headless/OpenGLContext/GlfwOpenGLContext.hpp
  src/Headless/OpenGLContext/OpenGLContext.hpp
  src/Headless/filelist.cmake
  tests/integration/CMakeLists.txt
  tests/unittest/CMakeLists.txt
  tests/unittest/Engine/materials.cpp
Labels: enhancement, Feature Request, refactor, Ready to review, Headless

#1031 [headless] Move target include before set_target_property
  src/Headless/Config.cmake.in
Labels: bug, High priority, Build System, Headless
