Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-06, with the labels that each got.

#915 New demos2
  src/Core/Geometry/MeshPrimitives.cpp
  src/Core/Geometry/MeshPrimitives.hpp
  src/Core/Geometry/MeshPrimitives.inl
  src/Core/Geometry/TopologicalMesh.hpp
  src/Core/Geometry/TopologicalMesh.inl
  src/Engine/Data/DrawPrimitives.cpp
  src/Engine/Data/DrawPrimitives.hpp
  tests/ExampleApps/DrawPrimitivesDemo/Assets/grid.png
  tests/ExampleApps/DrawPrimitivesDemo/minimalradium.cpp
Labels: Core, Engine, Ready to merge, Ready to review

#952 Small fixes
  .github/workflows/build-matrix.yml
  .pre-commit-config.yaml
  cmake/RadiumSetupFunctions.cmake
  doc/CMakeLists.txt
  doc/basics/compilation.md
  doc/basics/dependencies.md
  doc/developer/mesh.md
  src/Core/Animation/LinearBlendSkinning.hpp
  src/Core/Geometry/RayCast.cpp
  src/Core/Geometry/RayCast.hpp
  src/Core/Geometry/TopologicalMesh.hpp
  src/Core/Geometry/deprecated/TopologicalMesh.hpp
  src/Engine/Data/ShaderProgram.cpp
  src/Engine/Data/ShaderProgram.inl
  src/Engine/OpenGL.hpp
  src/Gui/Utils/Keyboard.cpp
  src/Gui/Utils/Keyboard.hpp
  src/Gui/Viewer/Gizmo/Gizmo.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/IO/VolumesLoader/VolumeLoader.cpp
  src/IO/VolumesLoader/pvmutils.cpp
  tests/ExamplePluginWithLib/Upstream/Library/CMakeLists.txt
  tests/unittest/Engine/renderparameters.cpp
Labels: enhancement, Core, Engine, Build System, documentation, IO, tests, GUI, github, PluginBase, demos

#954 [engine] Add convenience function to enable/disable pervertex color
  src/Engine/Data/BlinnPhongMaterial.hpp
  src/Engine/Data/BlinnPhongMaterial.inl
  src/Engine/Data/Material.hpp
  src/Engine/Data/SimpleMaterial.hpp
  src/Engine/Data/SimpleMaterial.inl
  src/Engine/Rendering/RenderObject.cpp
  src/Engine/Rendering/RenderObject.hpp
Labels: enhancement, Engine, WIP

#925 Use multiIndexedLayer instead of deprecated attributes
  src/Core/Asset/FileData.inl
  src/Core/Asset/GeometryData.cpp
  src/Core/Asset/GeometryData.hpp
  src/Core/Asset/GeometryData.inl
  src/Core/Geometry/IndexedGeometry.cpp
  src/Core/Geometry/IndexedGeometry.hpp
  src/Core/Geometry/IndexedGeometry.inl
  src/Core/Geometry/TopologicalMesh.inl
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Geometry/TriangleMesh.inl
  src/Core/Utils/Attribs.hpp
  src/Core/Utils/Attribs.inl
  src/Engine/Data/EnvironmentTexture.cpp
  src/Engine/Data/Mesh.hpp
  src/Engine/Data/Mesh.inl
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Engine/Scene/GeometryComponent.cpp
  src/Engine/Scene/GeometryComponent.hpp
  src/Engine/Scene/GeometrySystem.cpp
  src/Engine/Scene/SkinningComponent.cpp
  src/Engine/Scene/SkinningComponent.hpp
  src/Gui/SkeletonBasedAnimation/SkeletonBasedAnimationUI.cpp
  src/IO/AssimpLoader/AssimpFileLoader.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.hpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.inl
  src/IO/AssimpLoader/AssimpWrapper.hpp
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
  src/IO/VolumesLoader/VolumeLoader.cpp
  src/IO/filelist.cmake
  tests/ExampleApps/DrawPrimitivesDemo/minimalradium.cpp
  tests/unittest/CMakeLists.txt
  tests/unittest/Core/geometryData.cpp
  tests/unittest/Core/indexview.cpp
Labels: enhancement, Core, IO, Ready to merge

#959 documentation on how to execute in the build tree under windows/VisualStudio
  doc/basics/compilation.md
Labels: Build System, documentation, demos, Ready to review
