Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-04, with the labels that each got.

#896 Fix warnings
  src/Engine/Rendering/Renderer.cpp
  tests/ExampleApps/EntityAnimationDemo/main.cpp
  tests/unittest/Core/observer.cpp
Labels: Low priority, Engine, code style, tests

#893 Components management
  CMakeLists.txt
  cmake/Config.cmake.in
  cmake/RadiumSetupFunctions.cmake
  doc/developer/cmakeutilities.md
  doc/developer/timeline.md
  src/CMakeLists.txt
  src/Config.cmake.in
  src/Core/CMakeLists.txt
  src/Core/Config.cmake.in
  src/Engine/CMakeLists.txt
  src/Engine/Config.cmake.in
  src/Gui/CMakeLists.txt
  src/Gui/Config.cmake.in
  src/IO/CMakeLists.txt
  src/IO/Config.cmake.in
  src/PluginBase/CMakeLists.txt
  src/PluginBase/Config.cmake.in
  tests/ExampleApps/HeadlessLibAndApp/Application/CMakeLists.txt
  tests/ExampleApps/HeadlessLibAndApp/Application/main.cpp
  tests/ExampleApps/HeadlessLibAndApp/CMakeLists.txt
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/CMakeLists.txt
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/Config.cmake.in
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIBaseApplication.cpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIBaseApplication.hpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIBaseApplication.inl
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIViewer.cpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIViewer.hpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIViewer.inl
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/OpenGLContext/OpenGLContext.cpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/OpenGLContext/OpenGLContext.hpp
Labels: enhancement, demos, Ready to review

#891 [tests] fix compilation issue of ExamplePluginWithLib.
  cmake/RadiumSetupFunctions.cmake
  src/Config.cmake.in
  tests/CMakeLists.txt
  tests/ExamplePluginWithLib/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/Plugin/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/Plugin/PluginB.cpp
  tests/ExamplePluginWithLib/Downstream/Plugin/PluginB.hpp
  tests/ExamplePluginWithLib/Upstream/Library/CMakeLists.txt
  tests/ExamplePluginWithLib/Upstream/Library/Config.cmake.in
  tests/ExamplePluginWithLib/Upstream/Library/ExampleLibrary.cpp
  tests/ExamplePluginWithLib/Upstream/Plugin/CMakeLists.txt
  tests/ExamplePluginWithLib/Upstream/Plugin/PluginA.cpp
  tests/ExamplePluginWithLib/Upstream/Plugin/PluginA.hpp
Labels: bug, Core, regression

#899 Headless as component
  CMakeLists.txt
  doc/developer/cmakeutilities.md
  src/CMakeLists.txt
  src/Headless/CLI/App.hpp
  src/Headless/CLI/CLI.hpp
  src/Headless/CLI/Config.hpp
  src/Headless/CLI/ConfigFwd.hpp
  src/Headless/CLI/Error.hpp
  src/Headless/CLI/Formatter.hpp
  src/Headless/CLI/FormatterFwd.hpp
  src/Headless/CLI/Macros.hpp
  src/Headless/CLI/Option.hpp
  src/Headless/CLI/Split.hpp
  src/Headless/CLI/StringTools.hpp
  src/Headless/CLI/Timer.hpp
  src/Headless/CLI/TypeTools.hpp
  src/Headless/CLI/Validators.hpp
  src/Headless/CLI/Version.hpp
  src/Headless/CLIBaseApplication.cpp
  src/Headless/CLIBaseApplication.hpp
  src/Headless/CLIBaseApplication.inl
  src/Headless/CLIViewer.cpp
  src/Headless/CLIViewer.hpp
  src/Headless/CLIViewer.inl
  src/Headless/CMakeLists.txt
  src/Headless/Config.cmake.in
  src/Headless/OpenGLContext/OpenGLContext.cpp
  src/Headless/OpenGLContext/OpenGLContext.hpp
  src/Headless/RaHeadless.hpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/HeadlessDemo/Assets/astroboy.dae
  tests/ExampleApps/HeadlessDemo/Assets/astroboy.jpg
  tests/ExampleApps/HeadlessDemo/CMakeLists.txt
  tests/ExampleApps/HeadlessDemo/doc/Readme.md
  tests/ExampleApps/HeadlessDemo/main.cpp
  tests/ExampleApps/HeadlessLibAndApp/CMakeLists.txt
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/CMakeLists.txt
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/Config.cmake.in
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIBaseApplication.cpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/CLIBaseApplication.hpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/RadiumHeadless/OpenGLContext/OpenGLContext.hpp
  tests/ExampleApps/HeadlessLibAndApp/libHeadless/doc/Readme.md
Labels: enhancement, Feature Request, tests, Ready to review

#907 fix problem when trying to compile headless demo without headless component.
  CMakeLists.txt
  tests/ExampleApps/CMakeLists.txt
Labels: bug, Build System

#908 [github] refactor workflow to reuse build-matrix
  .github/workflows/build-matrix.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy-doc.yml
  .github/workflows/guideline-checks.yml
  .github/workflows/pull-request-ci.yml
  .github/workflows/push-master-ci.yml
  .github/workflows/push-rc-ci.yml
  doc/main.md
Labels: github

#910 [github] fix extract-branch and badges.
  .github/workflows/build-matrix.yml
  .github/workflows/deploy-doc.yml
  doc/main.md
Labels: bug, github

#914 Quad tex coord
  src/Core/Geometry/MeshPrimitives.cpp
  src/Core/Geometry/MeshPrimitives.hpp
  src/Core/Geometry/MeshPrimitives.inl
Labels: Core, Ready to review

#913 Scoped context
  cmake/filelistGui.cmake
  src/Gui/Viewer/WindowQt.hpp
  src/Gui/Viewer/WindowQt.inl
Labels: bug, Ready to merge, GUI

#900 Generic attrib name
  cmake/filelistCore.cmake
  src/Core/CoreMacros.hpp
  src/Core/Geometry/MeshPrimitives.cpp
  src/Core/Geometry/MeshPrimitives.hpp
  src/Core/Geometry/StandardAttribNames.hpp
  src/Core/Geometry/TopologicalMesh.inl
  src/Core/Geometry/TriangleMesh.cpp
  src/Core/Geometry/TriangleMesh.hpp
  src/Core/Geometry/TriangleMesh.inl
  src/Core/Geometry/deprecated/TopologicalMesh.inl
  src/Engine/Data/DrawPrimitives.cpp
  src/Engine/Data/Mesh.cpp
  src/Engine/Data/Mesh.hpp
  src/Engine/Data/Mesh.inl
  src/Engine/Data/VolumeObject.cpp
  src/Engine/Rendering/DebugRender.cpp
  src/Engine/Rendering/ForwardRenderer.cpp
  src/Engine/Scene/GeometryComponent.cpp
  src/Engine/Scene/GeometryComponent.inl
  src/Engine/Scene/SkinningComponent.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.cpp
  src/IO/AssimpLoader/AssimpGeometryDataLoader.hpp
  src/IO/TinyPlyLoader/TinyPlyFileLoader.cpp
  tests/ExampleApps/CustomCameraManipulator/main.cpp
  tests/ExampleApps/DrawPrimitivesDemo/minimalradium.cpp
  tests/ExampleApps/HelloRadium/main.cpp
  tests/ExampleApps/KeyEventDemoApp/main.cpp
  tests/ExampleApps/SimpleSimulationApp/main.cpp
  tests/ExampleApps/VolumeDemoApp/main.cpp
  tests/unittest/Core/indexview.cpp
  tests/unittest/Core/topomesh.cpp
Labels: enhancement, Core, Engine, Ready to review

#890 New demos
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/TexturedQuad/CMakeLists.txt
  tests/ExampleApps/TexturedQuad/main.cpp
Labels: enhancement, tests, demos

#917 Viewer virtual update
  src/Engine/Data/RenderParameters.hpp
  src/Gui/Viewer/Viewer.hpp
Labels: enhancement, Ready to merge, GUI, Ready to review

#918 Fix888
  .pre-commit-config.yaml
  doc/basics/radium-as-submodule.md
  doc/developer.md
  doc/developer/plugin.md
Labels: documentation, Ready to review

#922 [scripts] update list dep to new cmake format
  scripts/list_dep.py
Labels: bug, Scripts

#921 Render parameters
  src/Engine/Data/RenderParameters.cpp
  src/Engine/Data/RenderParameters.hpp
  tests/unittest/CMakeLists.txt
  tests/unittest/Engine/renderparameters.cpp
Labels: bug, Engine, Feature Request, tests, Ready to review

#928 Add nlohmann_json as external
  .github/workflows/build-matrix.yml
  doc/basics/dependencies.md
  external/Core/CMakeLists.txt
  external/Core/package.cmake
  src/Core/CMakeLists.txt
  src/Core/Config.cmake.in
Labels: Core, Feature Request, Ready to review
