Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-07, with the labels that each got.

#960 Various small fixes
  README.md
  src/Core/Geometry/MeshPrimitives.inl
  src/Core/Math/LinearAlgebra.hpp
  src/Core/Resources/Resources.cpp
  src/Core/Types.hpp
  src/Core/Utils/Attribs.hpp
  src/Core/Utils/StdMapIterators.hpp
  src/Engine/Data/BlinnPhongMaterial.inl
  src/Engine/Data/Mesh.cpp
  src/Engine/Data/Mesh.hpp
  src/Engine/OpenGL.hpp
  src/Engine/Scene/Component.cpp
  src/Engine/Scene/ComponentMessenger.cpp
  src/Engine/Scene/ComponentMessenger.hpp
  src/Engine/Scene/LightStorage.hpp
  src/Gui/AboutDialog/AboutDialog.ui
  src/Gui/BaseApplication.cpp
  src/Gui/BaseApplication.hpp
  src/Gui/Timeline/TimelineScrollArea.cpp
  src/Gui/Viewer/RotateAroundCameraManipulator.hpp
  tests/ExampleApps/HelloRadium/main.cpp
Labels: bug, Core, Engine, Build System, IO, GUI, refactor, Ready to review

#965 Set default GLSL version for shaders according to detected OpenGL context
  src/Engine/Data/ShaderConfiguration.cpp
  src/Engine/Data/ShaderConfiguration.hpp
  src/Engine/Data/ShaderProgram.hpp
  src/Engine/RadiumEngine.cpp
Labels: Engine, Feature Request, Ready to review

#968 Allow applications to set the opengl version according to their requirements
  examples/HeadlessExample/main.cpp
  examples/HelloRadium/main.cpp
  src/Engine/Data/ShaderConfiguration.cpp
  src/Engine/Data/ShaderConfiguration.hpp
  src/Engine/RadiumEngine.cpp
  src/Engine/RadiumEngine.hpp
  src/Gui/BaseApplication.cpp
  src/Gui/BaseApplication.hpp
  src/Headless/CLIViewer.cpp
  src/Headless/CLIViewer.hpp
  src/Headless/OpenGLContext/OpenGLContext.cpp
  src/Headless/OpenGLContext/OpenGLContext.hpp
Labels: Engine, Feature Request, GUI, demos, Ready to review, headless

#970 Ci headless
  CMakeLists.txt
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/integration/data/references/HeadlessExample.png
Labels: enhancement, Engine, tests

#969 [cmake] Take into account QT_DEFAULT_MAJOR_VERSION.
  CMakeLists.txt
  cmake/QtFunctions.cmake
  doc/basics/compilation.md
  src/CMakeLists.txt
  src/Engine/Config.cmake.in
  src/Gui/CMakeLists.txt
  src/Gui/Config.cmake.in
  src/Headless/Config.cmake.in
  src/IO/Config.cmake.in
  src/PluginBase/Config.cmake.in
Labels: Build System, limitation

#980 Fix issue #979
  CMakeLists.txt
  doc/basics/compilation.md
  src/CMakeLists.txt
  src/Headless/CMakeLists.txt
  tests/integration/CMakeLists.txt
Labels: bug, High priority, Build System, tests
