Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-11, with the labels that each got.

#1020 [ci] Update doxygen url and update ci workflow
  .github/workflows/build-matrix.yml
  .github/workflows/deploy-doc.yml
  .github/workflows/formatter.yml
  .github/workflows/increase-version.yml
Labels: github

#1015 [doc] better command line instructions.
  doc/basics.md
  doc/basics/compilation.md
  doc/basics/dependencies.md
Labels: documentation

#906 Expose binding
  .clang-format
  doc/developer/keymapping.md
  examples/EntityAnimation/main.cpp
  examples/KeyEvent/main.cpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/Gui/Utils/KeyMappingManager.hpp
  src/Gui/Utils/KeyMappingManager.inl
  src/Gui/Viewer/CameraManipulator.hpp
  src/Gui/Viewer/FlightCameraManipulator.cpp
  src/Gui/Viewer/Gizmo/GizmoManager.cpp
  src/Gui/Viewer/RotateAroundCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.cpp
  src/Gui/Viewer/TrackballCameraManipulator.hpp
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
  src/Gui/filelist.cmake
  tests/integration/data/inputs/keymapping-valid.xml
  tests/integration/data/references/keymapping-valid.xml
  tests/unittest/Gui/keymapping.cpp
Labels: enhancement, GUI

#1024 Fix #1023
  examples/TexturedQuadDynamic/main.cpp
  src/Core/Tasks/TaskQueue.cpp
  src/Core/Tasks/TaskQueue.hpp
  src/Engine/RadiumEngine.hpp
Labels: bug, Core

#1022 Core variables
  src/Core/Containers/VariableSet.cpp
  src/Core/Containers/VariableSet.hpp
  src/Core/Utils/StdExperimentalTypeTraits.hpp
  src/Core/filelist.cmake
  tests/unittest/CMakeLists.txt
  tests/unittest/Core/variableset.cpp
Labels: enhancement, Core, Feature Request
