Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-05, with the labels that each got.

#934 [tests] fix #927
  tests/ExampleApps/HeadlessDemo/CMakeLists.txt
Labels: Build System, tests, demos

#937 [headless] allow to access the optional window for event processing
  src/Headless/CLIViewer.hpp
  src/Headless/CLIViewer.inl
  src/Headless/OpenGLContext/OpenGLContext.cpp
  tests/ExampleApps/HeadlessDemo/main.cpp
Labels: bug, enhancement, headless

#940 Extend cli viewer (bis) : mouse move event listener
  src/Headless/OpenGLContext/OpenGLContext.cpp
  src/Headless/OpenGLContext/OpenGLContext.hpp
Labels: enhancement, Feature Request, headless

#943 Fix external compile
  .github/workflows/build-matrix.yml
  doc/basics.md
  doc/basics/compilation.md
  doc/basics/dependencies.md
  external/CMakeLists.txt
  src/CMakeLists.txt
  src/Config.cmake.in
  tests/CMakeLists.txt
  tests/integration/CMakeLists.txt
Labels: bug, Build System, regression

#920 Resources
  src/CMakeLists.txt
  src/Config.cmake.in
  src/Core/CMakeLists.txt
  src/Core/Config.cmake.in
  src/Core/Resources/Resources.cpp
  src/Core/Resources/Resources.hpp
  src/Core/radium_backtrace.h.in
Labels: Core, Feature Request, Ready to review

#944 [github] trigger coverage without waiting other builds
  .github/workflows/pull-request-ci.yml
  .github/workflows/push-master-ci.yml
  .github/workflows/push-rc-ci.yml
Labels: github

#945 Fix glfw version required
  src/Headless/CMakeLists.txt
  src/Headless/Config.cmake.in
  src/Headless/OpenGLContext/OpenGLContext.hpp
Labels: Build System, bug-suspected, headless

#947 fix multiple resources directories issue (#946)
  cmake/RadiumSetupFunctions.cmake
Labels: bug, Build System

#941 Add pre-commit markdownlint
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  doc/LICENSES.md
  doc/basics.md
  doc/basics/compilation.md
  doc/basics/dependencies.md
  doc/basics/radium-as-submodule.md
  doc/basics/troubleshooting.md
  doc/concepts.md
  doc/concepts/eventSystem.md
  doc/concepts/forwardrenderer.md
  doc/concepts/pluginSystem.md
  doc/developer.md
  doc/developer/animation.md
  doc/developer/cameraManipulator.md
  doc/developer/cmakeutilities.md
  doc/developer/conventions.md
  doc/developer/develWithRadium.md
  doc/developer/featurepicking.md
  doc/developer/keymapping.md
  doc/developer/lightmanagement.md
  doc/developer/material.md
  doc/developer/mesh.md
  doc/developer/oldmanual.md
  doc/developer/plugin.md
  doc/developer/rendering.md
  doc/developer/timeline.md
  doc/main.md
  tests/ExampleApps/HeadlessDemo/doc/Readme.md
  tests/ExamplePluginWithLib/Downstream/README.md
  tests/ExamplePluginWithLib/README.md
  tests/ExamplePluginWithLib/Upstream/Library/README.md
  tests/ExamplePluginWithLib/Upstream/README.md
  tests/README.md
  tests/unittest/data/README.md
Labels: code style, github

#932 Named color
  src/Core/Geometry/StandardAttribNames.hpp
  src/Core/Utils/Color.cpp
  src/Core/Utils/Color.hpp
  src/Core/filelist.cmake
  tests/unittest/Core/color.cpp
Labels: Low priority, Core, Ready to review
