Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-09, with the labels that each got.

#974 Fix draw primitives
  Shaders/Materials/Lambertian/Lambertian.frag.glsl
  examples/DrawPrimitives/AllPrimitivesComponent.cpp
  examples/DrawPrimitives/AllPrimitivesComponent.hpp
  examples/DrawPrimitives/CMakeLists.txt
  examples/DrawPrimitives/main.cpp
  examples/DrawPrimitives/minimalapp.cpp
  examples/DrawPrimitives/minimalapp.hpp
  examples/DrawPrimitives/minimalradium.hpp
  src/Core/Geometry/TopologicalMesh.inl
  src/Gui/Viewer/WindowQt.hpp
Labels: bug, GUI, examples

#1002 Fix doxygen deploy
  .github/workflows/deploy-doc.yml
Labels: bug, github

#997 Singleton
  src/Core/Utils/Singleton.hpp
  src/Engine/RadiumEngine.hpp
  src/Gui/BaseApplication.cpp
  src/Gui/BaseApplication.hpp
  src/Headless/CLIViewer.cpp
  src/Headless/CLIViewer.hpp
Labels: Core

#1000 Use BijectiveAssociation for mesh translation table
  src/Core/Utils/BijectiveAssociation.hpp
  src/Core/Utils/BijectiveAssociation.inl
  src/Engine/Data/Mesh.hpp
  src/Engine/Data/Mesh.inl
  tests/unittest/Core/bijectiveassociation.cpp
Labels: Core, Engine, refactor
