Repository STORM-IRIT/Radium-Engine, pull requests merged in 2022-01, with the labels that each got.

#842 [cmake] fix install filename
  cmake/Config.cmake.in
Labels: High priority, Build System, regression

#840 temporary fix (because it's an hack) of issue #837
  Shaders/Picking/PickingPoints.geom.glsl
  src/Engine/Rendering/Renderer.cpp
Labels: bug

#848 [Gui] Propage Mouse events using Qt signals
  src/Gui/Viewer/Viewer.cpp
  src/Gui/Viewer/Viewer.hpp
Labels: enhancement, GUI

#851 [cmake] update catch2
  tests/external/CMakeLists.txt
Labels: bug, High priority, tests

#791 Volume loader and demo
  .gitattributes
  CMakeLists.txt
  Shaders/Materials/Volumetric/Volumetric.frag.glsl
  Shaders/Materials/Volumetric/Volumetric.glsl
  cmake/Config.cmake.in
  cmake/filelistIO.cmake
  scripts/generateFilelistForModule.sh
  src/CMakeLists.txt
  src/Core/Geometry/Volume.cpp
  src/Core/Geometry/Volume.hpp
  src/Gui/BaseApplication.cpp
  src/Gui/CMakeLists.txt
  src/IO/CMakeLists.txt
  src/IO/VolumesLoader/VolumeLoader.cpp
  src/IO/VolumesLoader/VolumeLoader.hpp
  src/IO/VolumesLoader/pvmutils.cpp
  src/IO/VolumesLoader/pvmutils.hpp
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/VolumeDemoApp/CMakeLists.txt
  tests/ExampleApps/VolumeDemoApp/main.cpp
  tests/unittest/CMakeLists.txt
  tests/unittest/IO/volumeloader.cpp
  tests/unittest/data/Bucky.pvm
  tests/unittest/data/Lobster.pvm
Labels: Core, Feature Request, IO, tests

#854 Fix numeric cast in VolumeLoader
  src/IO/VolumesLoader/VolumeLoader.cpp
Labels: bug, High priority, IO

#852 Fix configuration error with built-in externals
  cmake/CompilerOptions.cmake
  external/CMakeLists.txt
  external/Core/CMakeLists.txt
Labels: bug, High priority, Build System

#849 Add support to Qt6
  .cmake-format
  .github/workflows/pull-request-ci.yml
  cmake/Config.cmake.in
  cmake/QtFunctions.cmake
  cmake/RadiumSetupFunctions.cmake
  cmake/Windeployqt.cmake
  doc/basics/compilation.md
  doc/basics/dependencies.md
  doc/basics/troubleshooting.md
  doc/developer/plugin.md
  src/CMakeLists.txt
  src/Gui/CMakeLists.txt
  src/Gui/Timeline/Timeline.cpp
  src/Gui/Utils/KeyMappingManager.cpp
  src/PluginBase/CMakeLists.txt
  tests/ExampleApps/CMakeLists.txt
  tests/ExampleApps/EntityAnimationDemo/CMakeLists.txt
  tests/ExampleApps/KeyEventDemoApp/CMakeLists.txt
  tests/ExampleApps/PickingDemoApp/CMakeLists.txt
  tests/ExampleApps/VolumeDemoApp/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/Plugin/CMakeLists.txt
  tests/ExamplePluginWithLib/Downstream/README.md
  tests/ExamplePluginWithLib/Upstream/Plugin/CMakeLists.txt
  tests/integration/CMakeLists.txt
  tests/unittest/CMakeLists.txt
Labels: enhancement, Build System, GUI, Ready to review

#862 [gui] fix Qt6 deprecated signal usage
  src/Gui/Timeline/Timeline.cpp
  src/Gui/Timeline/Timeline.hpp
Labels: bug, GUI
